<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bai_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{95,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{95,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{95,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{95,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{189,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{189,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{189,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{189,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{283,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{283,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{283,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{283,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{377,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{377,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{377,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{377,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{471,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{471,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{471,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{471,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{565,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{565,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{565,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{565,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{659,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{659,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{659,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{659,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{753,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{753,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{753,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{753,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{847,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{847,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{847,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{847,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{941,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{941,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{941,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{941,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1035,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1035,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1035,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1035,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1129,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1129,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1129,253},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1129,379},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1223,1},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bai_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,124}</string>
                <key>spriteSourceSize</key>
                <string>{92,124}</string>
                <key>textureRect</key>
                <string>{{1223,127},{92,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CardPoker.png</string>
            <key>size</key>
            <string>{1316,504}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:939d01bf34ce26019b13e0efc09a1fe8:eb8bb7e2c122c60fe0cddc0735af1246:e16bebb4652baeb990d408f28232a39e$</string>
            <key>textureFileName</key>
            <string>CardPoker.png</string>
        </dict>
    </dict>
</plist>
