<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{665,330}</string>
                <key>spriteSourceSize</key>
                <string>{665,330}</string>
                <key>textureRect</key>
                <string>{{1,1},{665,330}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BGx5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{205,254}</string>
                <key>spriteSourceSize</key>
                <string>{205,254}</string>
                <key>textureRect</key>
                <string>{{676,316},{205,254}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>EffectJoker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,78}</string>
                <key>spriteSourceSize</key>
                <string>{162,78}</string>
                <key>textureRect</key>
                <string>{{664,835},{162,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>KhungValue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{495,126}</string>
                <key>spriteSourceSize</key>
                <string>{495,126}</string>
                <key>textureRect</key>
                <string>{{451,333},{495,126}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>KhungValueX5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,90}</string>
                <key>spriteSourceSize</key>
                <string>{191,90}</string>
                <key>textureRect</key>
                <string>{{579,621},{191,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Sảnh Đại .png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,341}</string>
                <key>spriteSourceSize</key>
                <string>{448,341}</string>
                <key>textureRect</key>
                <string>{{1,333},{448,341}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn100-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{851,774},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn100-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{897,774},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn10k-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{943,774},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn10k-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{888,820},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn1k-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{934,820},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn1k-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{888,866},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnAuto-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,47}</string>
                <key>textureRect</key>
                <string>{{664,915},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnAuto-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,47}</string>
                <key>textureRect</key>
                <string>{{808,915},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,41}</string>
                <key>spriteSourceSize</key>
                <string>{42,41}</string>
                <key>textureRect</key>
                <string>{{934,866},{42,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnHistory.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{517,923},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnRank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{560,923},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSpeed-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,47}</string>
                <key>textureRect</key>
                <string>{{846,676},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSpeed-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,47}</string>
                <key>spriteSourceSize</key>
                <string>{142,47}</string>
                <key>textureRect</key>
                <string>{{846,725},{142,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{178,52}</string>
                <key>spriteSourceSize</key>
                <string>{178,52}</string>
                <key>textureRect</key>
                <string>{{671,781},{178,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnX5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{72,58}</string>
                <key>spriteSourceSize</key>
                <string>{72,58}</string>
                <key>textureRect</key>
                <string>{{828,835},{72,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btnguild.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,40}</string>
                <key>spriteSourceSize</key>
                <string>{41,40}</string>
                <key>textureRect</key>
                <string>{{603,923},{41,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,313}</string>
                <key>spriteSourceSize</key>
                <string>{311,313}</string>
                <key>textureRect</key>
                <string>{{668,1},{311,313}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>logo joker poker.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{443,160}</string>
                <key>spriteSourceSize</key>
                <string>{443,160}</string>
                <key>textureRect</key>
                <string>{{1,676},{443,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{286,95}</string>
                <key>spriteSourceSize</key>
                <string>{286,95}</string>
                <key>textureRect</key>
                <string>{{579,333},{286,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tex2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,89}</string>
                <key>spriteSourceSize</key>
                <string>{190,89}</string>
                <key>textureRect</key>
                <string>{{883,316},{190,89}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tex3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,91}</string>
                <key>spriteSourceSize</key>
                <string>{136,91}</string>
                <key>textureRect</key>
                <string>{{379,838},{136,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,91}</string>
                <key>spriteSourceSize</key>
                <string>{149,91}</string>
                <key>textureRect</key>
                <string>{{883,508},{149,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tex5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{173,103}</string>
                <key>spriteSourceSize</key>
                <string>{173,103}</string>
                <key>textureRect</key>
                <string>{{671,676},{173,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,91}</string>
                <key>spriteSourceSize</key>
                <string>{145,91}</string>
                <key>textureRect</key>
                <string>{{517,830},{145,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,102}</string>
                <key>spriteSourceSize</key>
                <string>{180,102}</string>
                <key>textureRect</key>
                <string>{{676,572},{180,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tex8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{376,103}</string>
                <key>spriteSourceSize</key>
                <string>{376,103}</string>
                <key>textureRect</key>
                <string>{{1,838},{376,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MiniPokerJoker.png</string>
            <key>size</key>
            <string>{989,964}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4f12f011796c5d5684027d30368a3b6:e5577ef075352b40bacbf88a717a94e8:3bb1c11e5290fb3e2f4c4ab4e120ae46$</string>
            <key>textureFileName</key>
            <string>MiniPokerJoker.png</string>
        </dict>
    </dict>
</plist>
