<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,128},{152,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,122}}</string>
				<key>sourceSize</key>
				<string>{152,122}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{631,0},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,756},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,767},{153,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,126}}</string>
				<key>sourceSize</key>
				<string>{153,126}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{322,895},{153,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,126}}</string>
				<key>sourceSize</key>
				<string>{153,126}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,453},{152,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,126}}</string>
				<key>sourceSize</key>
				<string>{152,126}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,0},{152,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,126}}</string>
				<key>sourceSize</key>
				<string>{152,126}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,628},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,380},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{630,884},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{155,897},{153,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,122}}</string>
				<key>sourceSize</key>
				<string>{153,122}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,767},{160,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{160,126}}</string>
				<key>sourceSize</key>
				<string>{160,126}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,895},{153,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{153,127}}</string>
				<key>sourceSize</key>
				<string>{153,127}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,637},{161,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{161,128}}</string>
				<key>sourceSize</key>
				<string>{161,128}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{163,637},{156,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,128}}</string>
				<key>sourceSize</key>
				<string>{156,128}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{321,637},{156,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{156,128}}</string>
				<key>sourceSize</key>
				<string>{156,128}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{162,767},{158,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{158,128}}</string>
				<key>sourceSize</key>
				<string>{158,128}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,380},{151,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,122}}</string>
				<key>sourceSize</key>
				<string>{151,122}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,504},{151,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,122}}</string>
				<key>sourceSize</key>
				<string>{151,122}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,201},{152,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,122}}</string>
				<key>sourceSize</key>
				<string>{152,122}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,767},{151,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,122}}</string>
				<key>sourceSize</key>
				<string>{151,122}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,77},{152,122}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,122}}</string>
				<key>sourceSize</key>
				<string>{152,122}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{323,325},{152,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,126}}</string>
				<key>sourceSize</key>
				<string>{152,126}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,891},{151,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,126}}</string>
				<key>sourceSize</key>
				<string>{151,126}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,287},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_bochon_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,567},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_chonchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,77},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_chonchan_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,217},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_chonle.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,147},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_chonle_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,427},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,357},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>btn_tatca_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,497},{321,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{321,68}}</string>
				<key>sourceSize</key>
				<string>{321,68}</string>
			</dict>

			<key>line_19.png</key>
			<dict>
				<key>frame</key>
				<string>{{477,252},{152,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{152,126}}</string>
				<key>sourceSize</key>
				<string>{152,126}</string>
			</dict>

			<key>title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{343,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{343,75}}</string>
				<key>sourceSize</key>
				<string>{343,75}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{1024,1024}</string>
			<key>textureFileName</key>
			<string>ui_chondong_euro.png</string>
			</dict>
		</dict>
</plist>