<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>animcho_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1,1},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{311,1},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{621,1},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{931,1},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1241,1},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1551,1},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1,161},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{311,161},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{621,161},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{931,161},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1241,161},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1551,161},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1,321},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{311,321},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{621,321},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{931,321},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1241,321},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1551,321},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1,481},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{311,481},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{621,481},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{931,481},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1241,481},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1551,481},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1,641},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{311,641},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{621,641},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{931,641},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1241,641},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1551,641},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1,801},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{311,801},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{621,801},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{931,801},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>animcho_70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,308}</string>
                <key>spriteSourceSize</key>
                <string>{158,308}</string>
                <key>textureRect</key>
                <string>{{1241,801},{158,308}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{1551,801},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{1,961},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{323,961},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{645,961},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{967,961},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{1289,1003},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{1611,1003},{200,320}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buocra08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{1,1163},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{323,1163},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{645,1163},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{967,1163},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>buocra12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{200,320}</string>
                <key>spriteSourceSize</key>
                <string>{200,320}</string>
                <key>textureRect</key>
                <string>{{1289,1205},{200,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AnimGonzoNormalArt.png</string>
            <key>size</key>
            <string>{1872,1406}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d046f2c1a5c43bff681b1caa18388934:a412b4831103778ff434a246f18d3dda:248d736d413e567674211065b9760a97$</string>
            <key>textureFileName</key>
            <string>AnimGonzoNormalArt.png</string>
        </dict>
    </dict>
</plist>
