<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim nhin vang roi 3/BigWin_3_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1,882},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{305,882},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{609,911},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{913,911},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1217,911},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1521,911},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_123.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1,1168},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_124.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{305,1168},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_125.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{609,1197},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{913,1197},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1217,1197},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_128.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1521,1197},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_145.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1,1454},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_146.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{305,1454},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_147.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{609,1483},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_148.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{913,1483},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1217,1483},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1521,1483},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_150.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1217,1483},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{287,1},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{573,1},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{859,1},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1145,1},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1431,1},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1,214},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{287,214},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{573,214},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{859,214},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1145,214},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1431,214},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1,427},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{287,427},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{573,427},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{573,427},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{859,427},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,427},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1431,427},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1,640},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{287,640},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{573,640},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{859,669},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,669},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1431,669},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoBigwinArt-4.png</string>
            <key>size</key>
            <string>{1824,1768}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9924b00e0686720e84ee70a62ae8485a:cb246c3233fadd27aa667ffdb3c1aadd:1b0aa6d34e2b1056b11970c882e9f3c5$</string>
            <key>textureFileName</key>
            <string>GonzoBigwinArt-4.png</string>
        </dict>
    </dict>
</plist>
