<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim nhin vang roi 2/BigWin_2_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1612,1},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1612,419},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1612,837},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1612,1255},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,1717},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{419,1717},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{837,1717},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1255,1717},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{538,1},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1075,1},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1,287},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{538,287},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1075,287},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1,573},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{538,573},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1075,573},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1,859},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{538,859},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1075,859},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1,1145},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{538,1145},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1075,1145},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1,1431},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{538,1431},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 4/BigWin_4_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{535,284}</string>
                <key>spriteSourceSize</key>
                <string>{535,284}</string>
                <key>textureRect</key>
                <string>{{1075,1431},{535,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoBigwinArt-0.png</string>
            <key>size</key>
            <string>{1897,2002}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9924b00e0686720e84ee70a62ae8485a:cb246c3233fadd27aa667ffdb3c1aadd:1b0aa6d34e2b1056b11970c882e9f3c5$</string>
            <key>textureFileName</key>
            <string>GonzoBigwinArt-0.png</string>
        </dict>
    </dict>
</plist>
