<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1,1},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1,370},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{372,1},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1,739},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{372,370},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{743,1},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>077.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1,1108},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{372,739},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{743,370},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1114,1},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{372,1108},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{743,739},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1114,370},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1485,1},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{743,1108},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1114,739},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1485,370},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1114,1108},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{369,367}</string>
                <key>spriteSourceSize</key>
                <string>{369,367}</string>
                <key>textureRect</key>
                <string>{{1485,739},{369,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,165}</string>
                <key>spriteSourceSize</key>
                <string>{165,165}</string>
                <key>textureRect</key>
                <string>{{1691,1615},{165,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,1},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,170},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,339},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,508},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,677},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,846},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1856,1015},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1485,1108},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{170,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1485,1277},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1654,1108},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{170,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{339,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1654,1277},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{339,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{508,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{508,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{677,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{677,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{846,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{846,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1015,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1015,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1184,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1184,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1823,1184},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1353,1477},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1353,1646},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1522,1446},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1522,1615},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>aschayquanhicon_60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,167}</string>
                <key>spriteSourceSize</key>
                <string>{167,167}</string>
                <key>textureRect</key>
                <string>{{1691,1446},{167,167}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1992,1184},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1823,1108},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1485,1446},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1522,1784},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1823,1353},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1992,1206},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1823,1130},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1542,1784},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1823,1375},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1843,1353},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1992,1228},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1823,1152},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1562,1784},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1823,1397},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>icon-xu-xoay_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,20}</string>
                <key>spriteSourceSize</key>
                <string>{18,20}</string>
                <key>textureRect</key>
                <string>{{1863,1353},{18,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoAnimArt0.91.png</string>
            <key>size</key>
            <string>{2024,1814}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ec52ffa24d5ee60881e586db40c0d137:f008d8a99b44c5eb84f6c344cb8dcfff:2111da6e73dc45be24f30054c6db77b3$</string>
            <key>textureFileName</key>
            <string>GonzoAnimArt0.91.png</string>
        </dict>
    </dict>
</plist>
