<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim nhin vang roi 2/BigWin_2_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,419},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,837},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,1255},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,1},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,305},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,609},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_109.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,913},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,1217},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_111.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{877,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_129.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1181,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1485,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,287},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_131.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,591},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,895},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_133.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,1199},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{859,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1163,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1467,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{859,573},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{859,877},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{859,1181},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{859,1485},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1145,1387},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1358,1387},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1387,815},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1387,1101},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1571,1387},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1784,815},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1600,1101},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1784,1387},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1813,1101},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1789,1},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1771,287},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,573},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1431,573},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1717,573},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,815},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,1101},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoBigwinArt-1.png</string>
            <key>size</key>
            <string>{2030,1697}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9924b00e0686720e84ee70a62ae8485a:cb246c3233fadd27aa667ffdb3c1aadd:1b0aa6d34e2b1056b11970c882e9f3c5$</string>
            <key>textureFileName</key>
            <string>GonzoBigwinArt-1.png</string>
        </dict>
    </dict>
</plist>
