<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>FreeKhung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{217,67}</string>
                <key>spriteSourceSize</key>
                <string>{217,67}</string>
                <key>textureRect</key>
                <string>{{270,845},{217,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,164}</string>
                <key>spriteSourceSize</key>
                <string>{1575,164}</string>
                <key>textureRect</key>
                <string>{{1,1},{1575,164}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 8 copy 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,111}</string>
                <key>spriteSourceSize</key>
                <string>{465,111}</string>
                <key>textureRect</key>
                <string>{{280,1},{465,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 8 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{497,101}</string>
                <key>spriteSourceSize</key>
                <string>{497,101}</string>
                <key>textureRect</key>
                <string>{{167,795},{497,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{792,111}</string>
                <key>spriteSourceSize</key>
                <string>{792,111}</string>
                <key>textureRect</key>
                <string>{{167,1},{792,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>as nhan tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{290,217}</string>
                <key>spriteSourceSize</key>
                <string>{290,217}</string>
                <key>textureRect</key>
                <string>{{1,1578},{290,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn  -.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{339,981},{45,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn +.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,48}</string>
                <key>spriteSourceSize</key>
                <string>{45,48}</string>
                <key>textureRect</key>
                <string>{{344,1964},{45,48}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn am thanh active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{317,1584},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn am thanh unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{317,1647},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{317,1710},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn lich su.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{317,1773},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{317,1836},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay nhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,95}</string>
                <key>textureRect</key>
                <string>{{220,1578},{167,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,140}</string>
                <key>spriteSourceSize</key>
                <string>{145,140}</string>
                <key>textureRect</key>
                <string>{{1,1870},{145,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tu quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,95}</string>
                <key>spriteSourceSize</key>
                <string>{167,95}</string>
                <key>textureRect</key>
                <string>{{220,1747},{167,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn vinh danh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{328,1899},{63,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,84}</string>
                <key>spriteSourceSize</key>
                <string>{179,84}</string>
                <key>textureRect</key>
                <string>{{270,1064},{179,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{179,88}</string>
                <key>spriteSourceSize</key>
                <string>{179,88}</string>
                <key>textureRect</key>
                <string>{{257,1294},{179,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tong tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{242,88}</string>
                <key>spriteSourceSize</key>
                <string>{242,88}</string>
                <key>textureRect</key>
                <string>{{167,1294},{242,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tải xuống (81).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,76}</string>
                <key>spriteSourceSize</key>
                <string>{375,76}</string>
                <key>textureRect</key>
                <string>{{280,468},{375,76}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x1-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,51}</string>
                <key>spriteSourceSize</key>
                <string>{67,51}</string>
                <key>textureRect</key>
                <string>{{325,1531},{67,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,39}</string>
                <key>textureRect</key>
                <string>{{287,1916},{54,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x15-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{167,1538},{84,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x15-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{84,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{270,1245},{84,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,53}</string>
                <key>spriteSourceSize</key>
                <string>{99,53}</string>
                <key>textureRect</key>
                <string>{{148,1870},{99,53}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{66,41}</string>
                <key>textureRect</key>
                <string>{{339,845},{66,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,51}</string>
                <key>spriteSourceSize</key>
                <string>{79,51}</string>
                <key>textureRect</key>
                <string>{{347,1450},{79,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,41}</string>
                <key>spriteSourceSize</key>
                <string>{66,41}</string>
                <key>textureRect</key>
                <string>{{339,913},{66,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x3-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,39}</string>
                <key>spriteSourceSize</key>
                <string>{67,39}</string>
                <key>textureRect</key>
                <string>{{358,680},{67,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x3-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,51}</string>
                <key>spriteSourceSize</key>
                <string>{80,51}</string>
                <key>textureRect</key>
                <string>{{347,1368},{80,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,39}</string>
                <key>spriteSourceSize</key>
                <string>{67,39}</string>
                <key>textureRect</key>
                <string>{{358,749},{67,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{148,1972},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x5-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,51}</string>
                <key>spriteSourceSize</key>
                <string>{81,51}</string>
                <key>textureRect</key>
                <string>{{347,1285},{81,51}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,39}</string>
                <key>spriteSourceSize</key>
                <string>{68,39}</string>
                <key>textureRect</key>
                <string>{{218,1972},{68,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x6-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{253,1538},{70,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x6-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{70,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{358,468},{70,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,54}</string>
                <key>textureRect</key>
                <string>{{257,1475},{82,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x9-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{358,540},{68,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x9-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{68,38}</string>
                <key>spriteSourceSize</key>
                <string>{84,40}</string>
                <key>textureRect</key>
                <string>{{358,610},{68,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{82,54}</string>
                <key>spriteSourceSize</key>
                <string>{82,54}</string>
                <key>textureRect</key>
                <string>{{203,1916},{82,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>z1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,39}</string>
                <key>spriteSourceSize</key>
                <string>{54,39}</string>
                <key>textureRect</key>
                <string>{{288,1972},{54,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoImgArt.png</string>
            <key>size</key>
            <string>{399,2012}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:42a4f463d2d0404acc2826fc2feeff8d:121444608a84d7dba69491cd4ce83c90:701831f92d0a7345180d44983086f37f$</string>
            <key>textureFileName</key>
            <string>GonzoImgArt.png</string>
        </dict>
    </dict>
</plist>
