<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim nhin vang roi 2/BigWin_2_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,419},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,837},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,1255},{416,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,1},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,305},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_113.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,609},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,913},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_115.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{287,1217},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_117.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{877,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_134.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1181,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_135.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1485,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_136.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,287},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,591},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,895},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_139.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{573,1199},{302,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{859,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1163,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1789,1},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{573,1503},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{859,1343},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{859,1057},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1072,1057},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1358,1255},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1072,1270},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1072,1483},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1358,1468},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1644,1343},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1467,287},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1753,287},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1467,529},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1753,573},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{859,573},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,573},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1431,771},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1717,859},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{859,815},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1145,815},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1431,1013},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1717,1101},{240,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoBigwinArt-2.png</string>
            <key>size</key>
            <string>{2002,1715}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9924b00e0686720e84ee70a62ae8485a:cb246c3233fadd27aa667ffdb3c1aadd:1b0aa6d34e2b1056b11970c882e9f3c5$</string>
            <key>textureFileName</key>
            <string>GonzoBigwinArt-2.png</string>
        </dict>
    </dict>
</plist>
