<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>anim nhin vang roi 2/BigWin_2_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,1},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,287},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{419,1},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 2/BigWin_2_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,284}</string>
                <key>spriteSourceSize</key>
                <string>{416,284}</string>
                <key>textureRect</key>
                <string>{{1,573},{416,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{419,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{837,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1,859},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{419,573},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{723,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_121.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1141,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_122.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1,1145},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{305,859},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{723,573},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_141.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1027,287},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_142.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{1445,1},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{305,1145},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 3/BigWin_3_144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{302,284}</string>
                <key>spriteSourceSize</key>
                <string>{302,284}</string>
                <key>textureRect</key>
                <string>{{609,859},{302,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1,1431},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{287,1431},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{573,1431},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{859,1431},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1093,1145},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1145,1431},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1306,1145},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1431,1431},{211,284}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1397,859},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1519,1145},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1749,1},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1573,287},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1511,573},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1610,859},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1724,573},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi 5/BigWin_5_46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{211,284}</string>
                <key>spriteSourceSize</key>
                <string>{211,284}</string>
                <key>textureRect</key>
                <string>{{1732,1145},{211,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{609,1145},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1027,573},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1331,287},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{913,859},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{851,1145},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1269,573},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>anim nhin vang roi/BigWin_1_45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,284}</string>
                <key>spriteSourceSize</key>
                <string>{240,284}</string>
                <key>textureRect</key>
                <string>{{1155,859},{240,284}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>GonzoBigwinArt-3.png</string>
            <key>size</key>
            <string>{1961,1643}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9924b00e0686720e84ee70a62ae8485a:cb246c3233fadd27aa667ffdb3c1aadd:1b0aa6d34e2b1056b11970c882e9f3c5$</string>
            <key>textureFileName</key>
            <string>GonzoBigwinArt-3.png</string>
        </dict>
    </dict>
</plist>
