<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Group 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{809,483}</string>
                <key>spriteSourceSize</key>
                <string>{809,483}</string>
                <key>textureRect</key>
                <string>{{1,1},{809,483}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 632 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,65}</string>
                <key>spriteSourceSize</key>
                <string>{47,65}</string>
                <key>textureRect</key>
                <string>{{537,751},{47,65}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Rectangle 623.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,21}</string>
                <key>spriteSourceSize</key>
                <string>{101,21}</string>
                <key>textureRect</key>
                <string>{{1,1271},{101,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{104,1271},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,49}</string>
                <key>spriteSourceSize</key>
                <string>{49,49}</string>
                <key>textureRect</key>
                <string>{{486,751},{49,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,457}</string>
                <key>spriteSourceSize</key>
                <string>{748,457}</string>
                <key>textureRect</key>
                <string>{{1,812},{748,457}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{684,427}</string>
                <key>spriteSourceSize</key>
                <string>{684,427}</string>
                <key>textureRect</key>
                <string>{{843,431},{684,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{740,386}</string>
                <key>spriteSourceSize</key>
                <string>{740,386}</string>
                <key>textureRect</key>
                <string>{{751,860},{740,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{704,428}</string>
                <key>spriteSourceSize</key>
                <string>{704,428}</string>
                <key>textureRect</key>
                <string>{{843,1},{704,428}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{748,355}</string>
                <key>spriteSourceSize</key>
                <string>{748,355}</string>
                <key>textureRect</key>
                <string>{{486,1},{748,355}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{104,1289},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CaChepPopupArt.png</string>
            <key>size</key>
            <string>{1548,1301}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f1fb7dcb93f6687b58e639b6c3e556a2:b4ffc917ec68045bc78928760cd37a9d:c83ab23457bad2741b53f05447812408$</string>
            <key>textureFileName</key>
            <string>CaChepPopupArt.png</string>
        </dict>
    </dict>
</plist>
