<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{665,143},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{843,143},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1021,143},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1199,143},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1377,143},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1555,143},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1,285},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{179,285},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{357,285},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{535,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{713,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{891,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1069,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1247,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1425,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,176}</string>
                <key>spriteSourceSize</key>
                <string>{176,176}</string>
                <key>textureRect</key>
                <string>{{1603,321},{176,176}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ContentDragon_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1,499},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{607,499},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1213,499},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1,756},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{607,756},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1213,756},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1,1013},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{607,1013},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1213,1013},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1,1270},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{607,1270},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1213,1270},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1,1527},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{607,1527},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentDragon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,604}</string>
                <key>spriteSourceSize</key>
                <string>{255,604}</string>
                <key>textureRect</key>
                <string>{{1213,1527},{255,604}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>boder_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{1,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{167,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{333,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{499,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{665,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{831,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{997,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{1163,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{1329,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{1495,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{1661,1},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{1,143},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{167,143},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{333,143},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,140}</string>
                <key>spriteSourceSize</key>
                <string>{164,140}</string>
                <key>textureRect</key>
                <string>{{499,143},{164,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CaChepKeepPositionArt.png</string>
            <key>size</key>
            <string>{1826,1783}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4cc63ef1ec0b3386a3f3a8d6542490aa:daa40a3a690b9ba83d5d1ef9e085a2a5:1eeab516231f42dcb4a7cf638dc795bf$</string>
            <key>textureFileName</key>
            <string>CaChepKeepPositionArt.png</string>
        </dict>
    </dict>
</plist>
