<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnAdd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{34,44}</string>
                <key>spriteSourceSize</key>
                <string>{34,44}</string>
                <key>textureRect</key>
                <string>{{561,1985},{34,44}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnAutoOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,59}</string>
                <key>spriteSourceSize</key>
                <string>{141,59}</string>
                <key>textureRect</key>
                <string>{{1359,1740},{141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnAutoOn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{1431,1301},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnSpeedOff.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,59}</string>
                <key>spriteSourceSize</key>
                <string>{141,59}</string>
                <key>textureRect</key>
                <string>{{1420,1697},{141,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnSpin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{219,80}</string>
                <key>spriteSourceSize</key>
                <string>{219,80}</string>
                <key>textureRect</key>
                <string>{{1076,1759},{219,80}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnSub.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,45}</string>
                <key>spriteSourceSize</key>
                <string>{33,45}</string>
                <key>textureRect</key>
                <string>{{1161,1610},{33,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ContentBet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{177,71}</string>
                <key>spriteSourceSize</key>
                <string>{177,71}</string>
                <key>textureRect</key>
                <string>{{1316,1455},{177,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentTurn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,95}</string>
                <key>spriteSourceSize</key>
                <string>{109,95}</string>
                <key>textureRect</key>
                <string>{{1359,1883},{109,95}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>DaiCa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{228,142}</string>
                <key>spriteSourceSize</key>
                <string>{228,142}</string>
                <key>textureRect</key>
                <string>{{932,1759},{228,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,276}</string>
                <key>spriteSourceSize</key>
                <string>{346,276}</string>
                <key>textureRect</key>
                <string>{{967,753},{346,276}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,299}</string>
                <key>spriteSourceSize</key>
                <string>{480,299}</string>
                <key>textureRect</key>
                <string>{{631,1541},{480,299}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconBonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,50}</string>
                <key>spriteSourceSize</key>
                <string>{128,50}</string>
                <key>textureRect</key>
                <string>{{1489,1483},{128,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ItemBous.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{153,153}</string>
                <key>spriteSourceSize</key>
                <string>{153,153}</string>
                <key>textureRect</key>
                <string>{{1161,1455},{153,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1214,750}</string>
                <key>spriteSourceSize</key>
                <string>{1214,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1214,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TuongCa.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,150}</string>
                <key>spriteSourceSize</key>
                <string>{142,150}</string>
                <key>textureRect</key>
                <string>{{1389,1339},{142,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bigwin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{895,386}</string>
                <key>spriteSourceSize</key>
                <string>{895,386}</string>
                <key>textureRect</key>
                <string>{{1,1153},{895,386}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn back.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{967,1101},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{1017,1101},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>duoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,75}</string>
                <key>spriteSourceSize</key>
                <string>{555,75}</string>
                <key>textureRect</key>
                <string>{{1444,744},{555,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>grand.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,99}</string>
                <key>spriteSourceSize</key>
                <string>{212,99}</string>
                <key>textureRect</key>
                <string>{{1084,1658},{212,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>iconFree.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,50}</string>
                <key>spriteSourceSize</key>
                <string>{125,50}</string>
                <key>textureRect</key>
                <string>{{1489,1613},{125,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>input thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{558,37}</string>
                <key>spriteSourceSize</key>
                <string>{558,37}</string>
                <key>textureRect</key>
                <string>{{1,1985},{558,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>jackpot opatity.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{741,322}</string>
                <key>spriteSourceSize</key>
                <string>{741,322}</string>
                <key>textureRect</key>
                <string>{{1217,1},{741,322}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{604,135}</string>
                <key>spriteSourceSize</key>
                <string>{604,135}</string>
                <key>textureRect</key>
                <string>{{947,1153},{604,135}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>luotquay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,36}</string>
                <key>spriteSourceSize</key>
                <string>{167,36}</string>
                <key>textureRect</key>
                <string>{{1158,1973},{167,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>major.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,98}</string>
                <key>spriteSourceSize</key>
                <string>{212,98}</string>
                <key>textureRect</key>
                <string>{{1259,1759},{212,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>mini.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,99}</string>
                <key>spriteSourceSize</key>
                <string>{212,99}</string>
                <key>textureRect</key>
                <string>{{1158,1759},{212,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,98}</string>
                <key>spriteSourceSize</key>
                <string>{212,98}</string>
                <key>textureRect</key>
                <string>{{1389,1483},{212,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>slot-cachep-xuat hien 6 icon game dac biet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{375,47}</string>
                <key>spriteSourceSize</key>
                <string>{375,47}</string>
                <key>textureRect</key>
                <string>{{898,1153},{375,47}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{350,195}</string>
                <key>spriteSourceSize</key>
                <string>{350,195}</string>
                <key>textureRect</key>
                <string>{{1161,1103},{350,195}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>text free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{357,197}</string>
                <key>spriteSourceSize</key>
                <string>{357,197}</string>
                <key>textureRect</key>
                <string>{{1245,744},{357,197}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>textt all way.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,161}</string>
                <key>spriteSourceSize</key>
                <string>{33,161}</string>
                <key>textureRect</key>
                <string>{{932,1989},{33,161}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thong bao dc bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{628,442}</string>
                <key>spriteSourceSize</key>
                <string>{628,442}</string>
                <key>textureRect</key>
                <string>{{1,1541},{628,442}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thong bao ket thuc an tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{964,398}</string>
                <key>spriteSourceSize</key>
                <string>{964,398}</string>
                <key>textureRect</key>
                <string>{{1,753},{964,398}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong vang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{234,71}</string>
                <key>spriteSourceSize</key>
                <string>{234,71}</string>
                <key>textureRect</key>
                <string>{{1358,1103},{234,71}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{555,75}</string>
                <key>spriteSourceSize</key>
                <string>{555,75}</string>
                <key>textureRect</key>
                <string>{{1084,1101},{555,75}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>CaChepArt.png</string>
            <key>size</key>
            <string>{1540,2023}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eda242cc96e8a7c609e788eb776a3887:8dfc1c5ab1125b84227308d730f30191:e122cd1d51b21c7ac1cd6752bfc8770d$</string>
            <key>textureFileName</key>
            <string>CaChepArt.png</string>
        </dict>
    </dict>
</plist>
