<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Ellipse 624 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{11,11}</string>
                <key>spriteSourceSize</key>
                <string>{11,11}</string>
                <key>textureRect</key>
                <string>{{1835,477},{11,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ellipse 624.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{15,16}</string>
                <key>spriteSourceSize</key>
                <string>{15,16}</string>
                <key>textureRect</key>
                <string>{{1372,1385},{15,16}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{909,567}</string>
                <key>spriteSourceSize</key>
                <string>{909,567}</string>
                <key>textureRect</key>
                <string>{{1,610},{909,567}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 527.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{54,54}</string>
                <key>spriteSourceSize</key>
                <string>{54,54}</string>
                <key>textureRect</key>
                <string>{{736,1660},{54,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 529.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,85}</string>
                <key>spriteSourceSize</key>
                <string>{50,85}</string>
                <key>textureRect</key>
                <string>{{1170,477},{50,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung jackpot GRAD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,79}</string>
                <key>spriteSourceSize</key>
                <string>{311,79}</string>
                <key>textureRect</key>
                <string>{{1754,477},{311,79}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung jackpot MAJOR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{291,95}</string>
                <key>spriteSourceSize</key>
                <string>{291,95}</string>
                <key>textureRect</key>
                <string>{{1523,1385},{291,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung jackpot minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,70}</string>
                <key>spriteSourceSize</key>
                <string>{295,70}</string>
                <key>textureRect</key>
                <string>{{1372,1313},{295,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1167,607}</string>
                <key>spriteSourceSize</key>
                <string>{1167,607}</string>
                <key>textureRect</key>
                <string>{{1,1},{1167,607}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pre-win-vo-tac-thien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,733}</string>
                <key>spriteSourceSize</key>
                <string>{243,733}</string>
                <key>textureRect</key>
                <string>{{1,1660},{243,733}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{791,458}</string>
                <key>spriteSourceSize</key>
                <string>{791,458}</string>
                <key>textureRect</key>
                <string>{{912,610},{791,458}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,380}</string>
                <key>spriteSourceSize</key>
                <string>{834,380}</string>
                <key>textureRect</key>
                <string>{{1372,477},{834,380}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tab 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{685,469}</string>
                <key>spriteSourceSize</key>
                <string>{685,469}</string>
                <key>textureRect</key>
                <string>{{836,1403},{685,469}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{833,479}</string>
                <key>spriteSourceSize</key>
                <string>{833,479}</string>
                <key>textureRect</key>
                <string>{{1,1179},{833,479}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tab 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{676,474}</string>
                <key>spriteSourceSize</key>
                <string>{676,474}</string>
                <key>textureRect</key>
                <string>{{1170,1},{676,474}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChinaQueenCompressArt.png</string>
            <key>size</key>
            <string>{1847,1904}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:079e39698e1869d83a641f75b7f18f2f:b7bba2fec17329c451448dd2835a191f:d5cb30ac5b509e19ccaf257f7be1922b$</string>
            <key>textureFileName</key>
            <string>ChinaQueenCompressArt.png</string>
        </dict>
    </dict>
</plist>
