<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>A-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{931,1363},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A-noactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{113,1561},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GRAD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,14}</string>
                <key>spriteSourceSize</key>
                <string>{57,14}</string>
                <key>textureRect</key>
                <string>{{346,1530},{57,14}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{687,465}</string>
                <key>spriteSourceSize</key>
                <string>{687,465}</string>
                <key>textureRect</key>
                <string>{{1,632},{687,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 34 (merged).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{347,144}</string>
                <key>spriteSourceSize</key>
                <string>{347,144}</string>
                <key>textureRect</key>
                <string>{{147,1099},{347,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,35}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{793,998},{22,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J-noactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,31}</string>
                <key>spriteSourceSize</key>
                <string>{18,31}</string>
                <key>textureRect</key>
                <string>{{362,1678},{18,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{36,36}</string>
                <key>spriteSourceSize</key>
                <string>{36,36}</string>
                <key>textureRect</key>
                <string>{{910,1406},{36,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K-noactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,32}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{793,1040},{32,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,61}</string>
                <key>spriteSourceSize</key>
                <string>{94,61}</string>
                <key>textureRect</key>
                <string>{{730,998},{94,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>MAJOR.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,17}</string>
                <key>spriteSourceSize</key>
                <string>{55,17}</string>
                <key>textureRect</key>
                <string>{{473,1245},{55,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NHẪN VÀO BẤT KỲ ĐỂ TIẾP TÚC ... (merged).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{317,73}</string>
                <key>spriteSourceSize</key>
                <string>{317,73}</string>
                <key>textureRect</key>
                <string>{{473,1464},{317,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Ngoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,38}</string>
                <key>spriteSourceSize</key>
                <string>{38,38}</string>
                <key>textureRect</key>
                <string>{{931,1323},{38,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Notify.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,37}</string>
                <key>spriteSourceSize</key>
                <string>{406,37}</string>
                <key>textureRect</key>
                <string>{{817,632},{406,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NotifyA.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,38}</string>
                <key>spriteSourceSize</key>
                <string>{336,38}</string>
                <key>textureRect</key>
                <string>{{44,1744},{336,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NotifyJ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{320,38}</string>
                <key>spriteSourceSize</key>
                <string>{320,38}</string>
                <key>textureRect</key>
                <string>{{893,486},{320,38}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>NotifyK.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{336,37}</string>
                <key>spriteSourceSize</key>
                <string>{336,37}</string>
                <key>textureRect</key>
                <string>{{44,1784},{336,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NotifyQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{321,37}</string>
                <key>spriteSourceSize</key>
                <string>{321,37}</string>
                <key>textureRect</key>
                <string>{{933,486},{321,37}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Q-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,36}</string>
                <key>spriteSourceSize</key>
                <string>{31,36}</string>
                <key>textureRect</key>
                <string>{{948,1401},{31,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q-noactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,32}</string>
                <key>spriteSourceSize</key>
                <string>{27,32}</string>
                <key>textureRect</key>
                <string>{{793,1291},{27,32}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>VienTrai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,364}</string>
                <key>spriteSourceSize</key>
                <string>{85,364}</string>
                <key>textureRect</key>
                <string>{{730,632},{85,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VienTrai2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,125}</string>
                <key>spriteSourceSize</key>
                <string>{124,125}</string>
                <key>textureRect</key>
                <string>{{827,1196},{124,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>VienTrai3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,118}</string>
                <key>spriteSourceSize</key>
                <string>{140,118}</string>
                <key>textureRect</key>
                <string>{{827,1054},{140,118}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>backgounr khun choi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{834,629}</string>
                <key>spriteSourceSize</key>
                <string>{834,629}</string>
                <key>textureRect</key>
                <string>{{1,1},{834,629}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder khung game play bên trai bth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,603}</string>
                <key>spriteSourceSize</key>
                <string>{9,603}</string>
                <key>textureRect</key>
                <string>{{837,1},{9,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boder khung game play bên trai free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{9,603}</string>
                <key>spriteSourceSize</key>
                <string>{9,603}</string>
                <key>textureRect</key>
                <string>{{44,1099},{9,603}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,39}</string>
                <key>spriteSourceSize</key>
                <string>{127,39}</string>
                <key>textureRect</key>
                <string>{{781,1406},{127,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn giam muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,69}</string>
                <key>spriteSourceSize</key>
                <string>{48,69}</string>
                <key>textureRect</key>
                <string>{{947,1129},{48,69}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay nhanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,64}</string>
                <key>spriteSourceSize</key>
                <string>{158,64}</string>
                <key>textureRect</key>
                <string>{{941,809},{158,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,83}</string>
                <key>spriteSourceSize</key>
                <string>{229,83}</string>
                <key>textureRect</key>
                <string>{{856,823},{229,83}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn tang muc cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,69}</string>
                <key>spriteSourceSize</key>
                <string>{44,69}</string>
                <key>textureRect</key>
                <string>{{953,1179},{44,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tu dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{158,64}</string>
                <key>spriteSourceSize</key>
                <string>{158,64}</string>
                <key>textureRect</key>
                <string>{{947,969},{158,64}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cot phai duoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{24,364}</string>
                <key>spriteSourceSize</key>
                <string>{24,364}</string>
                <key>textureRect</key>
                <string>{{993,1},{24,364}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cot phai tren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,147}</string>
                <key>spriteSourceSize</key>
                <string>{80,147}</string>
                <key>textureRect</key>
                <string>{{792,1447},{80,147}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>cot trai tren.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{81,148}</string>
                <key>spriteSourceSize</key>
                <string>{81,148}</string>
                <key>textureRect</key>
                <string>{{781,1323},{81,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>free.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,41}</string>
                <key>spriteSourceSize</key>
                <string>{125,41}</string>
                <key>textureRect</key>
                <string>{{346,1487},{125,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gem gan len icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,28}</string>
                <key>spriteSourceSize</key>
                <string>{28,28}</string>
                <key>textureRect</key>
                <string>{{971,1310},{28,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hienthi tien thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,41}</string>
                <key>spriteSourceSize</key>
                <string>{701,41}</string>
                <key>textureRect</key>
                <string>{{1,1099},{701,41}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hinh tron active btn quay nhanh - btn tu dong.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,22}</string>
                <key>spriteSourceSize</key>
                <string>{23,22}</string>
                <key>textureRect</key>
                <string>{{793,1074},{23,22}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hu k text.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,231}</string>
                <key>spriteSourceSize</key>
                <string>{224,231}</string>
                <key>textureRect</key>
                <string>{{147,1245},{224,231}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,472}</string>
                <key>spriteSourceSize</key>
                <string>{57,472}</string>
                <key>textureRect</key>
                <string>{{934,1},{57,472}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,231}</string>
                <key>spriteSourceSize</key>
                <string>{224,231}</string>
                <key>textureRect</key>
                <string>{{496,1099},{224,231}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>khung hien thi free bonus.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,125}</string>
                <key>spriteSourceSize</key>
                <string>{197,125}</string>
                <key>textureRect</key>
                <string>{{147,1478},{197,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kimcuong-hu active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,465}</string>
                <key>spriteSourceSize</key>
                <string>{38,465}</string>
                <key>textureRect</key>
                <string>{{690,632},{38,465}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>minor.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,13}</string>
                <key>spriteSourceSize</key>
                <string>{56,13}</string>
                <key>textureRect</key>
                <string>{{55,1585},{56,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>muccuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{190,96}</string>
                <key>spriteSourceSize</key>
                <string>{190,96}</string>
                <key>textureRect</key>
                <string>{{729,1099},{190,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>o chua jqka.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{58,40}</string>
                <key>spriteSourceSize</key>
                <string>{58,40}</string>
                <key>textureRect</key>
                <string>{{953,1250},{58,40}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>pre win jackpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{56,484}</string>
                <key>spriteSourceSize</key>
                <string>{56,484}</string>
                <key>textureRect</key>
                <string>{{55,1099},{56,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rem che bth.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{473,1325},{137,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rem01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,305}</string>
                <key>spriteSourceSize</key>
                <string>{137,305}</string>
                <key>textureRect</key>
                <string>{{55,1605},{137,305}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rem02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{362,1539},{137,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rem03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{382,1678},{137,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rem04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{670,1539},{137,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>rem05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,306}</string>
                <key>spriteSourceSize</key>
                <string>{137,306}</string>
                <key>textureRect</key>
                <string>{{690,1678},{137,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>thanh hu active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,460}</string>
                <key>spriteSourceSize</key>
                <string>{32,460}</string>
                <key>textureRect</key>
                <string>{{113,1099},{32,460}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>thắng_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,30}</string>
                <key>spriteSourceSize</key>
                <string>{62,30}</string>
                <key>textureRect</key>
                <string>{{729,1291},{62,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{240,98}</string>
                <key>spriteSourceSize</key>
                <string>{240,98}</string>
                <key>textureRect</key>
                <string>{{373,1245},{240,98}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tuong ben trai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,483}</string>
                <key>spriteSourceSize</key>
                <string>{84,483}</string>
                <key>textureRect</key>
                <string>{{848,1},{84,483}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>xuất hiện 10         nổ hũ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{335,35}</string>
                <key>spriteSourceSize</key>
                <string>{335,35}</string>
                <key>textureRect</key>
                <string>{{856,486},{335,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChinaQueenArt.png</string>
            <key>size</key>
            <string>{1018,1822}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0b1076917a10924aea38622bcb4f0e1:fb63f3be2ec0f2b28c7e087f645f0484:7636d4684f86e93acd9d7e490f7d5bdb$</string>
            <key>textureFileName</key>
            <string>ChinaQueenArt.png</string>
        </dict>
    </dict>
</plist>
