<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>38c16d141280140e670e18760efa3211ea0991491abef1-Jm1JJQ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,400}</string>
                <key>spriteSourceSize</key>
                <string>{428,400}</string>
                <key>textureRect</key>
                <string>{{589,502},{428,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>94d0033e52bb4448e79787550c38022838f98f376d2b-D2iEEy copy 3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{510,306}</string>
                <key>spriteSourceSize</key>
                <string>{510,306}</string>
                <key>textureRect</key>
                <string>{{1,502},{510,306}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group 15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{506,278}</string>
                <key>spriteSourceSize</key>
                <string>{506,278}</string>
                <key>textureRect</key>
                <string>{{309,502},{506,278}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Layer 30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{540,257}</string>
                <key>spriteSourceSize</key>
                <string>{540,257}</string>
                <key>textureRect</key>
                <string>{{1,1},{540,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Thang.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,67}</string>
                <key>spriteSourceSize</key>
                <string>{114,67}</string>
                <key>textureRect</key>
                <string>{{196,260},{114,67}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>TitleGame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,57}</string>
                <key>spriteSourceSize</key>
                <string>{241,57}</string>
                <key>textureRect</key>
                <string>{{281,260},{241,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bth huongdan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{867,969},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn 100 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{281,442},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn 100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{342,442},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn 1000 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{354,319},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn 1000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{354,380},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn 10000 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{403,441},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn 10000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{461,319},{59,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn 5000 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{412,377},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn 5000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,56}</string>
                <key>spriteSourceSize</key>
                <string>{59,56}</string>
                <key>textureRect</key>
                <string>{{461,438},{59,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{912,969},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn lichsu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{957,969},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{203,88}</string>
                <key>spriteSourceSize</key>
                <string>{203,88}</string>
                <key>textureRect</key>
                <string>{{589,904},{203,88}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn sieu toc active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,63}</string>
                <key>spriteSourceSize</key>
                <string>{144,63}</string>
                <key>textureRect</key>
                <string>{{867,904},{144,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn sieu toc unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,63}</string>
                <key>spriteSourceSize</key>
                <string>{144,63}</string>
                <key>textureRect</key>
                <string>{{1,437},{144,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn tu quay active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,63}</string>
                <key>spriteSourceSize</key>
                <string>{144,63}</string>
                <key>textureRect</key>
                <string>{{66,260},{144,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn tu quay unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,63}</string>
                <key>spriteSourceSize</key>
                <string>{144,63}</string>
                <key>textureRect</key>
                <string>{{131,260},{144,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn vinhdanh.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,43}</string>
                <key>spriteSourceSize</key>
                <string>{43,43}</string>
                <key>textureRect</key>
                <string>{{265,319},{43,43}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cuoc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,59}</string>
                <key>spriteSourceSize</key>
                <string>{114,59}</string>
                <key>textureRect</key>
                <string>{{220,376},{114,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>den x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{147,406},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>den x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,77}</string>
                <key>spriteSourceSize</key>
                <string>{71,77}</string>
                <key>textureRect</key>
                <string>{{794,904},{71,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>den x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,76}</string>
                <key>spriteSourceSize</key>
                <string>{71,76}</string>
                <key>textureRect</key>
                <string>{{281,364},{71,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>he so nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{499,461}</string>
                <key>spriteSourceSize</key>
                <string>{499,461}</string>
                <key>textureRect</key>
                <string>{{543,1},{499,461}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>jacpot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,63}</string>
                <key>spriteSourceSize</key>
                <string>{175,63}</string>
                <key>textureRect</key>
                <string>{{1,260},{175,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>MiniSlotArt.png</string>
            <key>size</key>
            <string>{1018,1013}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3712901a212ba18dffe0935b97ea5c9d:6285601a39b1af8c04adeddce4298fed:92625e5221b79423d0a802f746dc5f4a$</string>
            <key>textureFileName</key>
            <string>MiniSlotArt.png</string>
        </dict>
    </dict>
</plist>
