<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hop-qua_0000_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0001_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{177,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0002_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{353,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0003_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{529,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0004_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{705,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0005_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{881,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0006_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1057,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0007_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1233,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0008_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1409,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0009_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1585,443},{169,174}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hop-qua_0010_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1639,222},{169,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hop-qua_0011_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1810,222},{169,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hop-qua_0012_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,174}</string>
                <key>spriteSourceSize</key>
                <string>{169,174}</string>
                <key>textureRect</key>
                <string>{{1761,398},{169,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{235,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{235,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{469,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{469,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{703,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{703,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{937,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{937,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1171,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1171,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1405,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1405,222},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ligt_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{232,219}</string>
                <key>spriteSourceSize</key>
                <string>{232,219}</string>
                <key>textureRect</key>
                <string>{{1639,1},{232,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>AliceCompressArt.png</string>
            <key>size</key>
            <string>{1980,613}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:596de3d73c4d0e34458efba4eca449cd:aceebbf55478df2fe46ee054660b94d9:63f1a2b2576ce5937edf991566a5a8c3$</string>
            <key>textureFileName</key>
            <string>AliceCompressArt.png</string>
        </dict>
    </dict>
</plist>
