<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BgLevel.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{953,640}</string>
                <key>spriteSourceSize</key>
                <string>{953,640}</string>
                <key>textureRect</key>
                <string>{{1,102},{953,640}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,99}</string>
                <key>spriteSourceSize</key>
                <string>{113,99}</string>
                <key>textureRect</key>
                <string>{{130,1},{113,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn skip ver 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{127,47}</string>
                <key>spriteSourceSize</key>
                <string>{127,47}</string>
                <key>textureRect</key>
                <string>{{1,1},{127,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupLevelAtlas.png</string>
            <key>size</key>
            <string>{955,743}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:751435850b75deff6fa1896791caf5cb:ec5447c4ee814c955c9be14065ed03e5:bdfd59c7b2fe2bb5000baea56a93f468$</string>
            <key>textureFileName</key>
            <string>PopupLevelAtlas.png</string>
        </dict>
    </dict>
</plist>
