<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer 509.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{887,489}</string>
                <key>spriteSourceSize</key>
                <string>{887,489}</string>
                <key>textureRect</key>
                <string>{{1,1},{887,489}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 68 copy 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,90}</string>
                <key>spriteSourceSize</key>
                <string>{191,90}</string>
                <key>textureRect</key>
                <string>{{1663,1},{191,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,64}</string>
                <key>spriteSourceSize</key>
                <string>{47,64}</string>
                <key>textureRect</key>
                <string>{{1738,93},{47,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 70.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,64}</string>
                <key>spriteSourceSize</key>
                <string>{47,64}</string>
                <key>textureRect</key>
                <string>{{1663,235},{47,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>as lua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,56}</string>
                <key>spriteSourceSize</key>
                <string>{783,56}</string>
                <key>textureRect</key>
                <string>{{927,432},{783,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{1663,168},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay nhanh-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{927,310},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay nhanh-unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{1025,310},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay tu dong-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{1123,310},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay tu dong-unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,96}</string>
                <key>spriteSourceSize</key>
                <string>{120,96}</string>
                <key>textureRect</key>
                <string>{{1221,310},{120,96}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay-active.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,97}</string>
                <key>spriteSourceSize</key>
                <string>{212,97}</string>
                <key>textureRect</key>
                <string>{{1319,310},{212,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn quay-unactive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{212,97}</string>
                <key>spriteSourceSize</key>
                <string>{212,97}</string>
                <key>textureRect</key>
                <string>{{1533,310},{212,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rem.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{771,307}</string>
                <key>spriteSourceSize</key>
                <string>{771,307}</string>
                <key>textureRect</key>
                <string>{{890,1},{771,307}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>text allway.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,166}</string>
                <key>spriteSourceSize</key>
                <string>{35,166}</string>
                <key>textureRect</key>
                <string>{{890,310},{35,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tong tien.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,90}</string>
                <key>spriteSourceSize</key>
                <string>{235,90}</string>
                <key>textureRect</key>
                <string>{{1747,168},{235,90}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1712,409},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1787,93},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1663,93},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,73}</string>
                <key>spriteSourceSize</key>
                <string>{73,73}</string>
                <key>textureRect</key>
                <string>{{1787,405},{73,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChinaFallArt.png</string>
            <key>size</key>
            <string>{1861,491}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea752c57c84c97152e7c6e8b305c9a9d:4ad70cf6a733fc300326bb920ef00004:66a499d5f76517ad6fa3dc907c9a662e$</string>
            <key>textureFileName</key>
            <string>ChinaFallArt.png</string>
        </dict>
    </dict>
</plist>
