<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,513},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{442,1},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{513,442},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,954},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{513,954},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{954,1},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{954,442},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1025,883},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1466,1},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1466,513},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1466,1025},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,1395},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{513,1395},{439,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChinaFallCompressArt2-1.png</string>
            <key>size</key>
            <string>{1906,1835}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6c88b55d32ae8593963f27195302375:04216202cdabe7f2f9ab28295e2a5246:360883f57673d495e0bfe2b5acc493ac$</string>
            <key>textureFileName</key>
            <string>ChinaFallCompressArt2-1.png</string>
        </dict>
    </dict>
</plist>
