<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Chan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{406,296}</string>
                <key>spriteSourceSize</key>
                <string>{406,296}</string>
                <key>textureRect</key>
                <string>{{1263,1},{406,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0000_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1,1653},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0001_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{219,1653},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0002_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1671,1},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0003_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1671,219},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0004_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{431,437},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0005_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{437,1612},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0006_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{649,437},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0007_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{655,1612},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0008_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{867,437},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0009_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{873,1612},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0010_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{947,786},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0011_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{947,1099},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0012_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1091,1412},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0013_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1091,1725},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0014_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1404,781},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0015_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1717,786},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0016_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1404,999},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0017_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1717,1004},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0018_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1404,1217},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0019_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1717,1222},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0020_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1404,1435},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0021_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1717,1440},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0022_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1404,1653},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0023_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1717,1658},{311,216}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group-13_0000s_0024_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1165,781},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Group-13_0000s_0025_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{311,216}</string>
                <key>spriteSourceSize</key>
                <string>{311,216}</string>
                <key>textureRect</key>
                <string>{{1165,1094},{311,216}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0000_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0001_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{1,827},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0002_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{87,1},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0003_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{87,827},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0004_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{173,1},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0005_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{173,827},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0006_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{437,1},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0007_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{259,1},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0008_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{259,827},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0009_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{345,1},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0010_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{345,827},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0011_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{437,87},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0012_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{437,173},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0013_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{437,259},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0014_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{431,786},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0015_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{431,345},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0016_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{517,786},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0017_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{603,786},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0018_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{689,786},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0019_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{775,786},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0020_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{861,786},{824,84}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>_0000s_0021_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{1085,437},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0022_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{1085,523},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0023_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{1085,609},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000s_0024_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{824,84}</string>
                <key>spriteSourceSize</key>
                <string>{824,84}</string>
                <key>textureRect</key>
                <string>{{1085,695},{824,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>as lua.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{783,56}</string>
                <key>spriteSourceSize</key>
                <string>{783,56}</string>
                <key>textureRect</key>
                <string>{{1984,1},{783,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChinaFallCompressArt.png</string>
            <key>size</key>
            <string>{2041,1965}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5109b1426cba000dbdffac1825e46d23:59d484159deecf3eccaa6fa33edbea42:f01822caa6d1c4fb868de9860dd56d20$</string>
            <key>textureFileName</key>
            <string>ChinaFallCompressArt.png</string>
        </dict>
    </dict>
</plist>
