<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,513},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{442,1},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,1025},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1,1537},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{442,513},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{883,1},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{442,1025},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{442,1537},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{883,513},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1324,1},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{883,1025},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{883,1537},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1324,513},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1324,1025},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,510}</string>
                <key>spriteSourceSize</key>
                <string>{439,510}</string>
                <key>textureRect</key>
                <string>{{1324,1537},{439,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ChinaFallCompressArt2-0.png</string>
            <key>size</key>
            <string>{1764,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6c88b55d32ae8593963f27195302375:04216202cdabe7f2f9ab28295e2a5246:360883f57673d495e0bfe2b5acc493ac$</string>
            <key>textureFileName</key>
            <string>ChinaFallCompressArt2-0.png</string>
        </dict>
    </dict>
</plist>
