<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{890,637}</string>
                <key>spriteSourceSize</key>
                <string>{890,637}</string>
                <key>textureRect</key>
                <string>{{119,1},{890,637}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnNoReceive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,100}</string>
                <key>spriteSourceSize</key>
                <string>{104,100}</string>
                <key>textureRect</key>
                <string>{{753,711},{104,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnReceive.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,101}</string>
                <key>spriteSourceSize</key>
                <string>{104,101}</string>
                <key>textureRect</key>
                <string>{{650,711},{104,101}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnReceived.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,102}</string>
                <key>spriteSourceSize</key>
                <string>{104,102}</string>
                <key>textureRect</key>
                <string>{{546,711},{104,102}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,28}</string>
                <key>spriteSourceSize</key>
                <string>{27,28}</string>
                <key>textureRect</key>
                <string>{{90,742},{27,28}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ContentIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{107,107}</string>
                <key>spriteSourceSize</key>
                <string>{107,107}</string>
                <key>textureRect</key>
                <string>{{437,711},{107,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 92.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{739,116}</string>
                <key>spriteSourceSize</key>
                <string>{739,116}</string>
                <key>textureRect</key>
                <string>{{1,1},{739,116}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>IconExp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{953,711},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconGift.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,97}</string>
                <key>spriteSourceSize</key>
                <string>{96,97}</string>
                <key>textureRect</key>
                <string>{{855,711},{96,97}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rounded Rectangle 926.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{87,86}</string>
                <key>spriteSourceSize</key>
                <string>{87,86}</string>
                <key>textureRect</key>
                <string>{{1,742},{87,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TitleAchievement.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{316,158}</string>
                <key>spriteSourceSize</key>
                <string>{316,158}</string>
                <key>textureRect</key>
                <string>{{119,640},{316,158}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading 100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{546,29}</string>
                <key>spriteSourceSize</key>
                <string>{546,29}</string>
                <key>textureRect</key>
                <string>{{437,680},{546,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{554,38}</string>
                <key>spriteSourceSize</key>
                <string>{554,38}</string>
                <key>textureRect</key>
                <string>{{437,640},{554,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupAchievementAtlas.png</string>
            <key>size</key>
            <string>{1010,829}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b16e878c6e823a1cf28714da894eace:e291820ffa39020f66fe1dd9ba8fc8b0:d8e30bf7da60a9340f1e3fdc9c1b6a50$</string>
            <key>textureFileName</key>
            <string>PopupAchievementAtlas.png</string>
        </dict>
    </dict>
</plist>
