<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>+1  lượt  chơi đặc biệt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{209,88}</string>
                <key>spriteSourceSize</key>
                <string>{209,88}</string>
                <key>textureRect</key>
                <string>{{854,848},{209,88}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1st.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,92}</string>
                <key>spriteSourceSize</key>
                <string>{114,92}</string>
                <key>textureRect</key>
                <string>{{852,732},{114,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2nd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,68}</string>
                <key>spriteSourceSize</key>
                <string>{99,68}</string>
                <key>textureRect</key>
                <string>{{183,1094},{99,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3rd.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,70}</string>
                <key>spriteSourceSize</key>
                <string>{94,70}</string>
                <key>textureRect</key>
                <string>{{284,1094},{94,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BTN NHAN.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,73}</string>
                <key>spriteSourceSize</key>
                <string>{180,73}</string>
                <key>textureRect</key>
                <string>{{777,732},{180,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BTN choi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,71}</string>
                <key>spriteSourceSize</key>
                <string>{180,71}</string>
                <key>textureRect</key>
                <string>{{1,1094},{180,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ContentAvatar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,154}</string>
                <key>spriteSourceSize</key>
                <string>{145,154}</string>
                <key>textureRect</key>
                <string>{{777,576},{145,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>GOld.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{44,44}</string>
                <key>spriteSourceSize</key>
                <string>{44,44}</string>
                <key>textureRect</key>
                <string>{{924,576},{44,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>HeaderTournament.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{551,98}</string>
                <key>spriteSourceSize</key>
                <string>{551,98}</string>
                <key>textureRect</key>
                <string>{{1,994},{551,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>IconGold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{854,1059},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>POINTS_.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,17}</string>
                <key>spriteSourceSize</key>
                <string>{71,17}</string>
                <key>textureRect</key>
                <string>{{380,1094},{71,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{244,345}</string>
                <key>spriteSourceSize</key>
                <string>{244,345}</string>
                <key>textureRect</key>
                <string>{{531,576},{244,345}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{204,298}</string>
                <key>spriteSourceSize</key>
                <string>{204,298}</string>
                <key>textureRect</key>
                <string>{{554,923},{204,298}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{975,573}</string>
                <key>spriteSourceSize</key>
                <string>{975,573}</string>
                <key>textureRect</key>
                <string>{{1,1},{975,573}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,416}</string>
                <key>spriteSourceSize</key>
                <string>{528,416}</string>
                <key>textureRect</key>
                <string>{{1,576},{528,416}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupTournamentAtlas.png</string>
            <key>size</key>
            <string>{977,1166}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c8a589f5194a0ffe19c5ea563ccaa337:7b346a3f12e57d6e2746f1ad9fbb9d56:4e9c854c384f41ee9a87ebb313c2acfa$</string>
            <key>textureFileName</key>
            <string>PopupTournamentAtlas.png</string>
        </dict>
    </dict>
</plist>
