<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BtnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{718,892},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BtnPlay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,52}</string>
                <key>spriteSourceSize</key>
                <string>{137,52}</string>
                <key>textureRect</key>
                <string>{{718,753},{137,52}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>RectActiveChallenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,108}</string>
                <key>spriteSourceSize</key>
                <string>{715,108}</string>
                <key>textureRect</key>
                <string>{{1,753},{715,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RectUnAcitveChallenge.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{715,108}</string>
                <key>spriteSourceSize</key>
                <string>{715,108}</string>
                <key>textureRect</key>
                <string>{{1,863},{715,108}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1088,750}</string>
                <key>spriteSourceSize</key>
                <string>{1088,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1088,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupChallengeAtlas.png</string>
            <key>size</key>
            <string>{1090,972}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a43b476546c5c0206b4190949befa1a5:0f298eb490a366c9959c1cffb4b2416b:bcfe418985129175d90ae79da41bdba0$</string>
            <key>textureFileName</key>
            <string>PopupChallengeAtlas.png</string>
        </dict>
    </dict>
</plist>
