<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,58}</string>
                <key>spriteSourceSize</key>
                <string>{38,58}</string>
                <key>textureRect</key>
                <string>{{1838,931},{38,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{53,58}</string>
                <key>spriteSourceSize</key>
                <string>{53,58}</string>
                <key>textureRect</key>
                <string>{{1945,674},{53,58}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,59}</string>
                <key>spriteSourceSize</key>
                <string>{51,59}</string>
                <key>textureRect</key>
                <string>{{1777,931},{51,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BtnClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1578,931},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BẢNG XẾP HẠNG.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{333,66}</string>
                <key>spriteSourceSize</key>
                <string>{333,66}</string>
                <key>textureRect</key>
                <string>{{1490,999},{333,66}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>ContentAva.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,92}</string>
                <key>spriteSourceSize</key>
                <string>{88,92}</string>
                <key>textureRect</key>
                <string>{{1945,505},{88,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Group 93.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,72}</string>
                <key>spriteSourceSize</key>
                <string>{1575,72}</string>
                <key>textureRect</key>
                <string>{{1,925},{1575,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 1230 copy 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,31}</string>
                <key>spriteSourceSize</key>
                <string>{28,31}</string>
                <key>textureRect</key>
                <string>{{1286,1325},{28,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Rounded Rectangle 1227.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{85,21}</string>
                <key>spriteSourceSize</key>
                <string>{85,21}</string>
                <key>textureRect</key>
                <string>{{1904,731},{85,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>as sau buc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,502}</string>
                <key>spriteSourceSize</key>
                <string>{464,502}</string>
                <key>textureRect</key>
                <string>{{1578,1},{464,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,750}</string>
                <key>spriteSourceSize</key>
                <string>{1575,750}</string>
                <key>textureRect</key>
                <string>{{1,1},{1575,750}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1642,931},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btnDetail.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{69,46}</string>
                <key>spriteSourceSize</key>
                <string>{69,46}</string>
                <key>textureRect</key>
                <string>{{1706,931},{69,46}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,73}</string>
                <key>spriteSourceSize</key>
                <string>{68,73}</string>
                <key>textureRect</key>
                <string>{{1945,599},{68,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shadow duoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1575,170}</string>
                <key>spriteSourceSize</key>
                <string>{1575,170}</string>
                <key>textureRect</key>
                <string>{{1,753},{1575,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tabTop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1283,257}</string>
                <key>spriteSourceSize</key>
                <string>{1283,257}</string>
                <key>textureRect</key>
                <string>{{1,999},{1283,257}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{365,224}</string>
                <key>spriteSourceSize</key>
                <string>{365,224}</string>
                <key>textureRect</key>
                <string>{{1578,505},{365,224}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,198}</string>
                <key>spriteSourceSize</key>
                <string>{324,198}</string>
                <key>textureRect</key>
                <string>{{1578,731},{324,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>top3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{324,202}</string>
                <key>spriteSourceSize</key>
                <string>{324,202}</string>
                <key>textureRect</key>
                <string>{{1286,999},{324,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>user  top4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1283,104}</string>
                <key>spriteSourceSize</key>
                <string>{1283,104}</string>
                <key>textureRect</key>
                <string>{{1,1258},{1283,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupTopAtlas.png</string>
            <key>size</key>
            <string>{2043,1363}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43d0c3ef460bc3605ac31f34b7ce7f18:8f75c9a3486aba6828a14c1c92261e71:ff0304ecb1a63cf2ee10eb12b5df1236$</string>
            <key>textureFileName</key>
            <string>PopupTopAtlas.png</string>
        </dict>
    </dict>
</plist>
