<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BgQuest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{871,529}</string>
                <key>spriteSourceSize</key>
                <string>{871,529}</string>
                <key>textureRect</key>
                <string>{{1,1},{871,529}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ElementQuest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,113}</string>
                <key>spriteSourceSize</key>
                <string>{583,113}</string>
                <key>textureRect</key>
                <string>{{82,591},{583,113}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{131,141}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{195,857},{131,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{594,842},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{597,707},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{131,133}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{328,850},{131,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{131,141}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{198,707},{131,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,131}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{730,707},{131,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{131,133}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{331,707},{131,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{131,133}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{461,842},{131,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Icon23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,133}</string>
                <key>spriteSourceSize</key>
                <string>{131,143}</string>
                <key>textureRect</key>
                <string>{{464,707},{131,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TitleDailyQuest.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{533,92}</string>
                <key>spriteSourceSize</key>
                <string>{533,92}</string>
                <key>textureRect</key>
                <string>{{874,473},{533,92}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn nhan-1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,114}</string>
                <key>spriteSourceSize</key>
                <string>{148,114}</string>
                <key>textureRect</key>
                <string>{{667,591},{148,114}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn nhan.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,114}</string>
                <key>spriteSourceSize</key>
                <string>{148,114}</string>
                <key>textureRect</key>
                <string>{{82,707},{148,114}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn quay.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,111}</string>
                <key>spriteSourceSize</key>
                <string>{148,111}</string>
                <key>textureRect</key>
                <string>{{82,857},{148,111}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>gold.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{26,26}</string>
                <key>spriteSourceSize</key>
                <string>{26,26}</string>
                <key>textureRect</key>
                <string>{{817,591},{26,26}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung duoi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{768,57}</string>
                <key>spriteSourceSize</key>
                <string>{768,57}</string>
                <key>textureRect</key>
                <string>{{82,532},{768,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung phai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,470}</string>
                <key>spriteSourceSize</key>
                <string>{94,470}</string>
                <key>textureRect</key>
                <string>{{874,1},{94,470}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>khung trai.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,467}</string>
                <key>spriteSourceSize</key>
                <string>{79,467}</string>
                <key>textureRect</key>
                <string>{{1,532},{79,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>PopupQuestAtlas.png</string>
            <key>size</key>
            <string>{969,1007}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70eba873bfcb0b0f0963ac459b9998d3:1e60d5ed2bc1c675e09328fb432619f7:d921092af010dd9bef93b590624d5c38$</string>
            <key>textureFileName</key>
            <string>PopupQuestAtlas.png</string>
        </dict>
    </dict>
</plist>
