<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,501}</string>
                <key>spriteSourceSize</key>
                <string>{891,501}</string>
                <key>textureRect</key>
                <string>{{1,1},{891,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,502}</string>
                <key>spriteSourceSize</key>
                <string>{891,502}</string>
                <key>textureRect</key>
                <string>{{1,1007},{891,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,502}</string>
                <key>spriteSourceSize</key>
                <string>{891,502}</string>
                <key>textureRect</key>
                <string>{{894,1007},{891,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,501}</string>
                <key>spriteSourceSize</key>
                <string>{891,501}</string>
                <key>textureRect</key>
                <string>{{894,1},{891,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,502}</string>
                <key>spriteSourceSize</key>
                <string>{891,502}</string>
                <key>textureRect</key>
                <string>{{1,1511},{891,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,501}</string>
                <key>spriteSourceSize</key>
                <string>{891,501}</string>
                <key>textureRect</key>
                <string>{{1,504},{891,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,501}</string>
                <key>spriteSourceSize</key>
                <string>{891,501}</string>
                <key>textureRect</key>
                <string>{{894,504},{891,501}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{891,502}</string>
                <key>spriteSourceSize</key>
                <string>{891,502}</string>
                <key>textureRect</key>
                <string>{{894,1511},{891,502}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>SnowFallLightingArt.png</string>
            <key>size</key>
            <string>{1786,2014}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5d752bbe5ad0fc6c723b8b256c10cbad:474d7d2f660d11896337905504ba2c6a:d5852c7001c43ccaa0d4292d66b83fea$</string>
            <key>textureFileName</key>
            <string>SnowFallLightingArt.png</string>
        </dict>
    </dict>
</plist>
