<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>item_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,0},{211,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{211,230}}</string>
				<key>sourceSize</key>
				<string>{211,230}</string>
			</dict>

			<key>item_0_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{451,231},{211,230}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,11},{211,230}}</string>
				<key>sourceSize</key>
				<string>{230,250}</string>
			</dict>

			<key>item_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,0},{224,232}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,232}}</string>
				<key>sourceSize</key>
				<string>{224,232}</string>
			</dict>

			<key>item_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,376},{191,161}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{191,161}}</string>
				<key>sourceSize</key>
				<string>{191,161}</string>
			</dict>

			<key>item_10_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,538},{190,176}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{190,176}}</string>
				<key>sourceSize</key>
				<string>{191,177}</string>
			</dict>

			<key>item_1_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,754},{224,260}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{11,11},{224,260}}</string>
				<key>sourceSize</key>
				<string>{246,279}</string>
			</dict>

			<key>item_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,257},{225,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{225,227}}</string>
				<key>sourceSize</key>
				<string>{225,227}</string>
			</dict>

			<key>item_2_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{225,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{14,1},{225,256}}</string>
				<key>sourceSize</key>
				<string>{249,260}</string>
			</dict>

			<key>item_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,475},{224,243}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,243}}</string>
				<key>sourceSize</key>
				<string>{224,243}</string>
			</dict>

			<key>item_3_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{225,485},{224,268}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,1},{224,268}}</string>
				<key>sourceSize</key>
				<string>{224,269}</string>
			</dict>

			<key>item_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,727},{224,229}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,229}}</string>
				<key>sourceSize</key>
				<string>{224,229}</string>
			</dict>

			<key>item_4_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{450,719},{224,247}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,247}}</string>
				<key>sourceSize</key>
				<string>{224,247}</string>
			</dict>

			<key>item_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,485},{224,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{224,241}}</string>
				<key>sourceSize</key>
				<string>{224,241}</string>
			</dict>

			<key>item_5_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{226,233},{224,241}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{10,14},{224,241}}</string>
				<key>sourceSize</key>
				<string>{244,265}</string>
			</dict>

			<key>item_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,0},{205,173}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,173}}</string>
				<key>sourceSize</key>
				<string>{205,173}</string>
			</dict>

			<key>item_6_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{663,174},{205,201}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{205,201}}</string>
				<key>sourceSize</key>
				<string>{205,201}</string>
			</dict>

			<key>item_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{866,538},{180,142}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,142}}</string>
				<key>sourceSize</key>
				<string>{180,142}</string>
			</dict>

			<key>item_7_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,0},{178,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,5},{178,165}}</string>
				<key>sourceSize</key>
				<string>{180,170}</string>
			</dict>

			<key>item_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,166},{149,190}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{149,190}}</string>
				<key>sourceSize</key>
				<string>{149,190}</string>
			</dict>

			<key>item_8_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{1019,166},{149,218}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{18,0},{149,218}}</string>
				<key>sourceSize</key>
				<string>{189,221}</string>
			</dict>

			<key>item_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{860,715},{184,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,174}}</string>
				<key>sourceSize</key>
				<string>{184,174}</string>
			</dict>

			<key>item_9_blur.png</key>
			<dict>
				<key>frame</key>
				<string>{{675,715},{184,198}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,198}}</string>
				<key>sourceSize</key>
				<string>{184,198}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,1024}</string>
			<key>textureFileName</key>
			<string>bikini_item.png</string>
			</dict>
		</dict>
</plist>