<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>+.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,1542},{53,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{53,64}}</string>
				<key>sourceSize</key>
				<string>{53,64}</string>
			</dict>

			<key>-.png</key>
			<dict>
				<key>frame</key>
				<string>{{1160,1542},{51,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{51,64}}</string>
				<key>sourceSize</key>
				<string>{51,64}</string>
			</dict>

			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,940},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1619},{181,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,95}}</string>
				<key>sourceSize</key>
				<string>{181,95}</string>
			</dict>

			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1715},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1513,0},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1472,1429},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>14.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1239},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>15.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1524},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>16.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,1321},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,1226},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1334},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,446},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,225},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,845},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,731},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{1511,636},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{1471,541},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{1330,0},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1495,1035},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1106,1447},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1289,1447},{182,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,94}}</string>
				<key>sourceSize</key>
				<string>{182,94}</string>
			</dict>

			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1504,320},{181,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,94}}</string>
				<key>sourceSize</key>
				<string>{181,94}</string>
			</dict>

			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1512,95},{181,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,95}}</string>
				<key>sourceSize</key>
				<string>{181,95}</string>
			</dict>

			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{1520,1130},{181,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{181,95}}</string>
				<key>sourceSize</key>
				<string>{181,95}</string>
			</dict>

			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{1329,129},{182,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,95}}</string>
				<key>sourceSize</key>
				<string>{182,95}</string>
			</dict>

			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{1337,1143},{182,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{182,95}}</string>
				<key>sourceSize</key>
				<string>{182,95}</string>
			</dict>

			<key>btn_bochon.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,957},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,72}}</string>
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>

			<key>btn_choithat.png</key>
			<dict>
				<key>frame</key>
				<string>{{1287,932},{207,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,210}}</string>
				<key>sourceSize</key>
				<string>{207,210}</string>
			</dict>

			<key>btn_choithu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1129,1236},{207,210}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{207,210}}</string>
				<key>sourceSize</key>
				<string>{207,210}</string>
			</dict>

			<key>btn_chonchan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,957},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,72}}</string>
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>

			<key>btn_chonle.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,1030},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,72}}</string>
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>

			<key>btn_quay.png</key>
			<dict>
				<key>frame</key>
				<string>{{1093,680},{232,251}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{232,251}}</string>
				<key>sourceSize</key>
				<string>{232,251}</string>
			</dict>

			<key>btn_sieutoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,663},{184,181}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,181}}</string>
				<key>sourceSize</key>
				<string>{184,181}</string>
			</dict>

			<key>btn_sieutoc_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,478},{184,183}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,183}}</string>
				<key>sourceSize</key>
				<string>{184,183}</string>
			</dict>

			<key>btn_tatca.png</key>
			<dict>
				<key>frame</key>
				<string>{{1038,1030},{248,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{248,72}}</string>
				<key>sourceSize</key>
				<string>{248,72}</string>
			</dict>

			<key>btn_tudong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1319,263},{184,182}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,182}}</string>
				<key>sourceSize</key>
				<string>{184,182}</string>
			</dict>

			<key>btn_tudong_on.png</key>
			<dict>
				<key>frame</key>
				<string>{{1286,478},{184,184}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{184,184}}</string>
				<key>sourceSize</key>
				<string>{184,184}</string>
			</dict>

			<key>frame.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,55},{1100,624}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1100,624}}</string>
				<key>sourceSize</key>
				<string>{1100,624}</string>
			</dict>

			<key>frame_dong.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,350},{216,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{216,127}}</string>
				<key>sourceSize</key>
				<string>{216,127}</string>
			</dict>

			<key>frame_muccuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,129},{227,133}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,133}}</string>
				<key>sourceSize</key>
				<string>{227,133}</string>
			</dict>

			<key>frame_page.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,55},{228,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{228,73}}</string>
				<key>sourceSize</key>
				<string>{228,73}</string>
			</dict>

			<key>frame_thongbao.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1128},{787,486}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{787,486}}</string>
				<key>sourceSize</key>
				<string>{787,486}</string>
			</dict>

			<key>frame_tongcuoc.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1408},{317,153}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{317,153}}</string>
				<key>sourceSize</key>
				<string>{317,153}</string>
			</dict>

			<key>frame_tongthang.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1236},{340,171}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{340,171}}</string>
				<key>sourceSize</key>
				<string>{340,171}</string>
			</dict>

			<key>ic_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1148,1103},{106,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,108}}</string>
				<key>sourceSize</key>
				<string>{106,108}</string>
			</dict>

			<key>ic_bxh.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,415},{89,91}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,91}}</string>
				<key>sourceSize</key>
				<string>{89,91}</string>
			</dict>

			<key>ic_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,826},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>ic_huongdan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1649,1810},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>ic_lichsu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1632,1919},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>ic_menu.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1810},{106,108}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{106,108}}</string>
				<key>sourceSize</key>
				<string>{106,108}</string>
			</dict>

			<key>ic_music.png</key>
			<dict>
				<key>frame</key>
				<string>{{1654,507},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>ic_music_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1677,919},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>ic_sangphai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1326,845},{54,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,79}}</string>
				<key>sourceSize</key>
				<string>{54,79}</string>
			</dict>

			<key>ic_sangtrai.png</key>
			<dict>
				<key>frame</key>
				<string>{{1255,1143},{54,79}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{54,79}}</string>
				<key>sourceSize</key>
				<string>{54,79}</string>
			</dict>

			<key>ic_sound.png</key>
			<dict>
				<key>frame</key>
				<string>{{1542,1919},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>ic_sound_off.png</key>
			<dict>
				<key>frame</key>
				<string>{{1655,1416},{89,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{89,92}}</string>
				<key>sourceSize</key>
				<string>{89,92}</string>
			</dict>

			<key>page_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,780},{788,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{788,347}}</string>
				<key>sourceSize</key>
				<string>{788,347}</string>
			</dict>

			<key>page_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{771,1615},{770,409}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{770,409}}</string>
				<key>sourceSize</key>
				<string>{770,409}</string>
			</dict>

			<key>page_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1615},{770,386}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{770,386}}</string>
				<key>sourceSize</key>
				<string>{770,386}</string>
			</dict>

			<key>roll.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{1245,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1245,54}}</string>
				<key>sourceSize</key>
				<string>{1245,54}</string>
			</dict>

			<key>title_danhsach.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,680},{1092,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1092,49}}</string>
				<key>sourceSize</key>
				<string>{1092,49}</string>
			</dict>

			<key>title_danhsach_honor.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,730},{1045,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{1045,49}}</string>
				<key>sourceSize</key>
				<string>{1045,49}</string>
			</dict>

			<key>title_guide.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1128},{359,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{359,107}}</string>
				<key>sourceSize</key>
				<string>{359,107}</string>
			</dict>

			<key>title_his.png</key>
			<dict>
				<key>frame</key>
				<string>{{1101,263},{217,86}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{217,86}}</string>
				<key>sourceSize</key>
				<string>{217,86}</string>
			</dict>

			<key>title_honor.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,780},{299,72}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{299,72}}</string>
				<key>sourceSize</key>
				<string>{299,72}</string>
			</dict>

			<key>title_line.png</key>
			<dict>
				<key>frame</key>
				<string>{{789,853},{292,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{292,103}}</string>
				<key>sourceSize</key>
				<string>{292,103}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{2048,2048}</string>
			<key>textureFileName</key>
			<string>bikini_UI.png</string>
			</dict>
		</dict>
</plist>